body {
  font-family: Copperplate, "Copperplate Gothic Light", serif;
  background-color: grey;
  color: white;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* Buttons global */
button {
  background-color: #5a5a5a; 
  color: darkred; 
  padding: 4px 10px;
  border-radius: 20px;
  border: none;
  font-size: 0.9em;
  font-family: Copperplate, "Copperplate Gothic Light", serif;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}