@import url(base.css);

h1 {
  font-size: 200%;
  margin: 8px 0px;
}

html, body {
  height: 100vh;
  margin: 0; /* remove unwanted scroll */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

nav button {
  width: 100%;
  color: white;
}

ul {
  padding: 0px;
  margin: 16px;
  list-style-type: none;
}

/* G R I D */

/* Assign grid areas */
header { grid-area: h; }
nav { grid-area: n; }
main { grid-area: m; }
footer { grid-area: f; }

/* Desktop layout */
@media (min-width: 768px) {
  body {
    display: grid;

    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
      "h h"
      "n m"
      "f f";

    height: 100vh;
  }
}

/* main scrolls, footer stays visible */
main {
  overflow-y: auto;
  padding: 10px;
}


/* Movies container */
#movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Movie card */
article {
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #444;
  box-shadow: 0 3px 8px rgba(0,0,0,0.4);

  width: 300px;
  box-sizing: border-box;
}

/* Title */
article h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* Image */
img {
  border-radius: 10px;
  max-width: 100%;
  margin: 10px auto;
  display: block;
}

/* Text */
article p {
  margin: 5px 0;
}

/* Genres */
span {
  margin-right: 6px;
}

.genre {
  background-color: #5a5a5a;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
  font-size: 0.9em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}